*{
    background-color: black;
    text-align: center;
}
.img{
    border: 30px solid white;
    border-width: 5px 5px 5px 5px;
    margin-top: 100px;
    color: navajowhite;
    border-radius: 10px;
}
.that{
    margin: 15px;
    color: white;
    font-size: 4.5em;
    font-weight: 300;
    font-family:'Times New Roman', Times, serif;
}
.when{
    margin: 10px;
    color: white;
    font-size: 1.25em;
    font-weight: 300;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}